/* reset the browsers basic CSS */
@import url("reset.css");

/* a baseline set of CSS rules */
/*
Baseline all the styles after resetting them
*/

/* Add adjustment to allow text resizing */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

/* set a baseline font size and line-spacing */
body { font:1em/1.4em Helvetica, Arial, Verdana, sans-serif; }

/* select color - borrowed from HTML5 Boilerplate */
::-moz-selection { background: #8fd400; text-shadow: none; color: #fff; }
::selection { background: #8fd400; text-shadow: none; color: #fff; }

/* add a bold back in where you need it */
strong, b, h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/* add in some left spacing where needed */
li, dd, blockquote { margin-left: 1em; }

/* add margin back to the bottom of p tags */
p { margin-bottom: 1em; }

/* restyle the list elements */
ul { list-style: circle; }
ol { list-style: decimal; }

/* add a default focus behavior for accessibility */
*:focus { outline: 1px dotted #999; }

/*headline size*/
h1 { font-size: 125%; }
h2 { font-size: 120%; }
h3 { font-size: 115%; }
h4 { font-size: 110%; }
h5 { font-size: 105%; }
/* end the baseline styles
   start of some object oriented CSS to start you off (note, great for rapid prototyping!) */

/* styles for text */
.times { font-family: Times New Roman, Times, serif; letter-spacing: -1px; }
.helvetica { font-family: Helvetica, Arial, sans-serif; }
.bold { font-weight: bold; }
.grayText { color: #666; }
.whiteText { color: #fff; }
.whiteText a { color: #fff; }
.whiteText a:hover { color: #efefef; }

/*basic layout styles */
.clearFix { clear: both; }
.floatRight { float: right; }
.floatLeft { float: left; }
.spaceAfter { padding-bottom: 15px; }
.spacer { height: 20px; }
.smallSpacer { height: 10px; }
.smallerSpacer { height: 5px; }
.spaceRight { margin-right: 10px; }

/*padding and margins*/
.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.margin10 { margin: 10px; }
.margin30 { margin: 30px; }
.marginRight { margin-right: 10px; }
.overflowAuto { overflow: auto; }

/*simple backgrounds*/
.grayBackground { background-color: #e5e5e5; }
.darkGrayBackground { background-color: #666; }

/*rounded corners and shadows*/
.borderRadius { border-radius: 5px; -moz-border-radius: 5px; }
.boxShadow { box-shadow: 2px 2px 3px #999; -moz-box-shadow: 2px 2px 3px #999; -webkit-box-shadow: 2px 2px 3px #999; }

/*borders of every kind*/
.border { border: 1px solid #000; }
.borderRight { border-right: 1px solid #000; }
.borderTop { border-top: 1px solid #000; }
.borderLeft { border-left: 1px solid #000; }
.borderBottom { border-bottom: 1px solid #000; }
.grayBorder { border-color: #666; }
.whiteBorder { border-color: #fff; }

/*alignment anyone?*/
.alignMiddle { vertical-align: middle; }
.alignCenter { text-align: center; }

/*a class for making an auto width image*/
.autoImage { width: 100%; height: auto; }

/*some overrides for stuff I didn't like in jQuery's CSS*/
.ui-header .ui-title, .ui-footer .ui-title {
	margin: .6em 5% .8em;
}

/*seriously, a footer that floats mid-page?? This had to be fixed...
TODO - fix race condition that causes footer to be float off bottom on first load */
.ui-footer {
	padding: .5em 0;
	position: absolute;
	bottom: 0;
	top: auto;
	width: 100%;	
}

.ui-content {
	margin-bottom: 65px;
}

.ui-mobile, .ui-mobile body {
	height: 100%;
}